@import 'globals.scss';

.spin-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;

    &--hide {
        opacity: 0;
    }

    &--show {
        opacity: 1;
    }
}

$n: 4; // # of arrows on either side

.spin {
    color: #fff;
    padding: $base-spacing;
    display: flex;
    width: 300px;
    margin: auto;
    align-items: center;
    justify-content: center;

    &__label {
        width: 5em;
        height: 5em;
        margin: $base-spacing;
        box-sizing: border-box;
        border-radius: 50%;
        color: $brand-secondary;
        background-color: $brand-primary;
        text-shadow: 1px 1px #e8e8e8;
        text-align: center;
        vertical-align: center;
        padding: 0 ($base-spacing / $n);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__arrow-container {
        flex: 1;
        &--left {
            display: flex;
            flex-direction: row-reverse;
        }
    }

    &__arrow {
        animation: blink-animation ($transition-speed * 2) ease-in-out infinite;
        padding: 0 ($base-spacing / $n);
        font-weight: bold;

        @for $i from $n through 1 {
            &:nth-of-type(#{$i}) {
                animation-delay: #{($i / $n) - 1}s;
            }
        }

        @for $i from ($n + 1) through ($n * 2) {
            &:nth-of-type(#{$i}) {
                animation-delay: #{($i / $n)  - 1}s;
            }
        }

        &--left {
            &:before {
                content: '\2329';
            }
        }

        &--right {
            &:before {
                content: '\232A';
            }
        }
    }
}

@keyframes blink-animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

