/* colors */
$brand-primary: #fff;
$brand-secondary: #000;
$brand-tertiary: #1e1e1e;

/* decorations */
$text-shadow: 1px 1px 10px $brand-primary;
$dotted-border: 1px dotted $brand-primary;
$opaque-backdrop: rgba(0, 0, 0, 0.8);

/* animations */
$transition-speed: 1s;

/* font sizes */
$font-size-tiny: 0.9em;
$font-size-small: 1em;
$font-size-medium: 1.5em;
$font-size-large: 2em;
$font-line-height: 1.4em;

/* font family */
$font-family-sans-serif: Helvetica, Arial, sans-serif;
$font-family-serif: 'Droid Serif', Georgia, serif;

/* padding */
$base-spacing: 1em;
$icon-size: 32px;

/* z-index */
$z-index-bottom: 0;
$z-index-top: 1000;