@import 'globals.scss';

.settings-panel {
    min-width: 300px;
    color: $brand-primary;
    transition: all $transition-speed;
    pointer-events: none;

    &__header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    &__title {
        align-items: center;
        flex: 1;
        display: flex;
        align-items: center;
        padding: $base-spacing / 2;
        opacity: 0;
        transition: all $transition-speed;
        font-size: $font-size-medium;
    }

    &__content {
        padding: 0 $base-spacing;
        max-height: 0;
        overflow: hidden;
        transition: all $transition-speed;
    }

    &__hamburger {
        width: $icon-size;
        height: $icon-size;
        position: relative;
        margin: $base-spacing;
        transform: rotate(0deg);
        transition: $transition-speed ease-in-out;
        cursor: pointer;
        pointer-events: auto;

        span {
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background: #fff;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: 0.5s ease-in-out;

            &:nth-child(1) {
                top: 3px;
                transform-origin: left center;
            }

            &:nth-child(2) {
                top: 15px;
                transform-origin: left center;
            }

            &:nth-child(3) {
                top: 27px;
                transform-origin: left center;
            }
        }

        &:hover span {
            box-shadow: 1px 1px 10px #fff;
        }

        &--open span {
            &:nth-child(1) {
                transform: rotate(45deg);
                top: 2px;
                left: 4px;
            }

            &:nth-child(2) {
                width: 0%;
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
                top: 24px;
                left: 4px;
            }
        }
    }
    &--open {
        background-color: $opaque-backdrop;
        pointer-events: auto;

        .settings-panel__content {
            max-height: 200px;
        }

        .settings-panel__title {
            display: flex;
            opacity: 1;
        }
    }
}
